   @font-face {
      font-family: 'proxima_nova_rgregular';
      src: url('../font/proximanova-regular-webfont.eot');
      src: url('../font/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
      url('../font/proximanova-regular-webfont.woff') format('woff'),
      url('../font/proximanova-regular-webfont.ttf') format('truetype'),
      url('../font/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
      font-weight: normal;
      font-style: normal;

   }
   @font-face {
      font-family: 'novecento_widedemibold';
      src: url('../font/novecentowide-demibold-webfont.eot');
      src: url('../font/novecentowide-demibold-webfont.eot?#iefix') format('embedded-opentype'),
      url('../font/novecentowide-demibold-webfont.woff') format('woff'),
      url('../font/novecentowide-demibold-webfont.ttf') format('truetype'),
      url('../font/novecentowide-demibold-webfont.svg#novecento_widedemibold') format('svg');
      font-weight: normal;
      font-style: normal;

   }

   @font-face {
      font-family: 'novecento_widelight';
      src: url('../font/novecentowide-light-webfont.eot');
      src: url('../font/novecentowide-light-webfont.eot?#iefix') format('embedded-opentype'),
      url('../font/novecentowide-light-webfont.woff') format('woff'),
      url('../font/novecentowide-light-webfont.ttf') format('truetype'),
      url('../font/novecentowide-light-webfont.svg#novecento_widelight') format('svg');
      font-weight: normal;
      font-style: normal;

   } 

   body, input, select, textarea {
      font-size: 1em;
      line-height: 1.3;
      font-family: 'proxima_nova_rgregular',helvetica,sans-serif;
      color:#324e55;
   }

   button, .ui-btn {
      /*font-family: 'novecento_widedemibold',helvetica,sans-serif;*/
   }
   .logo {
      font-size: 28px;
      padding:22px 0 35px 0;
   }
   .logothin{
      font-family: 'novecento_widelight',helvetica,sans-serif;

   }
   .logothick{
      font-family: 'novecento_widedemibold',helvetica,sans-serif;
      
   }


   .ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {
      /* fallback */
      background-color: #96c7b5;
      /*background-image: url(images/radial_bg.png);*/
      background-position: center center;
      background-repeat: no-repeat;

      /* Safari 4-5, Chrome 1-9 */
      /* Can't specify a percentage size? Laaaaaame. */
      background: -webkit-gradient(radial, center center, 0, center center, 460, from(#f6eda3), to(#96c7b5));

      /* Safari 5.1+, Chrome 10+ */
      background: -webkit-radial-gradient(circle, #f6eda3, #96c7b5);

      /* Firefox 3.6+ */
      background: -moz-radial-gradient(circle, #f6eda3, #96c7b5);

      /* IE 10 */
      background: -ms-radial-gradient(circle, #f6eda3, #96c7b5);



   }
